body {
  font-family: 'Poppins', sans-serif;
  background: url('/static/wallpaper.webp') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.login-card {
  background: rgba(255,255,255,0.94);
  border-radius: 20px;
  box-shadow: 0 8px 28px rgba(0,0,0,0.05);
  padding: 30px;
  backdrop-filter: blur(5px);
}

@media (max-width: 576px) {
  .login-card {
    padding: 18px 6px;
  }
}

.btn-primary:hover {
  background-color: #476ca4;
  transform: scale(1.03);
}

a {
  color: #5c80bc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}