{% extends 'base.html' %}
{% block title %}Quiz - {{ leccion.titulo }}{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="card shadow">
    <div class="card-body">
      <form method="post">
    {% csrf_token %}
    <h2 class="text-center mb-4">Quiz: {{ leccion.get_nivel_display }}, {{ leccion.titulo }}</h2>
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label"><b>Pregunta {{ forloop.counter }}: {{ field.label }}</b></label>
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary w-100">Enviar respuestas</button>
</form>
    </div>
  </div>
</div>
{% endblock %}
